{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'scripts/views/home.js' %}"></script>
{% endblock %}

{% block body %}
<div class="content grid">
    <div id="sidebar" class="box">
        <div class="container-top">
            <div class="box-element-clickable">
                <i class="fa-solid fa-chart-line"></i>
                <span>dashboards</span>
            </div>
            <div class="box-element-clickable">
                <i class="fa-regular fa-clipboard"></i>
                <span>registros</span>
            </div>
            <div class="box-element-clickable">
                <i class="fa-regular fa-credit-card"></i>
                <span>contas e cartões</span>
            </div>
        </div>
        <div class="container-down">
            <div class="horizontal-line"></div>
            <div class="box-element-clickable">
                <i class="fa-solid fa-gear"></i>
                <span>configurações</span>
            </div>
        </div>
    </div>
    <div id="topbar" class="box">
        <div class="left">
            <i class="fa-regular fa-user user-icon"></i>
            <div>
                <p class="userName">{{ fullName }}</p>
                <p id="profileNameRange">{{ profile }}, {{ dateRange }}</p>
            </div>
        </div>
        <div class="right">
            <i class="fa-solid fa-arrow-right-arrow-left box-element-clickable" title="trocar de perfil"></i>
            <i id="btn-logout" class="fa-solid fa-arrow-right-from-bracket box-element-clickable" title="sair"></i>
        </div>
    </div>
    <div id="container-center" class="grid scroll-area">
        <div id="container-registry" class="box grid">
            <div class="header">
                <p class="title">Novo Lançamento</p>
            </div>
            <div class="grid-wrapper-two">
                <div class="inp-box-with-icon">
                    <p>Tipo</p>
                    <i></i>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Título</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box-with-icon">
                    <p>Data/Hora</p>
                    <i class="fa-solid fa-circle-info box-element-clickable" title="info"></i>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box-with-icon">
                    <p>Recorrência</p>
                    <i class="fa-solid fa-circle-info box-element-clickable" title="info"></i>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Valor</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Método</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Descrição</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box-with-icon">
                    <p>Categorias</p>
                    <i class="fa-solid fa-pen box-element-clickable"></i>
                    <input type="text" class="inp">
                </div>
            </div>
            <div class="box-btns">
                <input type="button" class="btn" value="limpar">
                <input type="button" class="btn" value="salvar">
            </div>
        </div>
        <div id="container-details" class="box grid">
            <div class="header">
                <div class="right">
                    <p class="title">Detalhamento</p>
                </div>
                <div class="left">
                    <i class="fa-solid fa-trash box-element-clickable" title="excluir registro"></i>
                </div>
            </div>
            <div class="grid-wrapper-two">
                <div class="inp-box">
                    <p>Tipo</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Título</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Data/Hora</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Valor</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>status</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Método</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Descrição</p>
                    <input type="text" class="inp">
                </div>
                <div class="inp-box">
                    <p>Categorias</p>
                    <input type="text" class="inp">
                </div>
            </div>
            <div class="box-btns">
                <input type="button" class="btn" value="limpar">
                <input type="button" class="btn" value="salvar">
            </div>
        </div>
    </div>
</div>
{% endblock %}
