{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'scripts/views/home.js' %}"></script>
{% endblock %}

{% block body %}
<div class="content grid">
    <div id="sidebar" class="box">
        <div class="container-top">
            <div class="box-element-clickable" id="box-dash">
                <i class="fa-solid fa-chart-line"></i>
                <span>dashboards</span>
            </div>
            <div class="box-element-clickable" id="box-reg">
                <i class="fa-regular fa-clipboard"></i>
                <span>registros</span>
            </div>
            <div class="box-element-clickable" id="box-card">
                <i class="fa-regular fa-credit-card"></i>
                <span>contas e cartões</span>
            </div>
        </div>
        <div class="container-bottom">
            <div class="horizontal-line"></div>
            <div class="box-element-clickable" id="box-settings">
                <i class="fa-solid fa-gear"></i>
                <span>configurações</span>
            </div>
        </div>
    </div>
    <div id="topbar" class="box">
        <div class="left">
            <i class="fa-regular fa-user user-icon"></i>
            <div>
                <p class="userName">{{ fullName }}</p>
                <p id="profileNameRange">{{ profileName }}, {{ dateRange }}</p>
            </div>
        </div>
        <div class="right">
            <i class="fa-solid fa-arrow-right-arrow-left box-element-clickable" title="trocar de perfil"></i>
            <i id="btn-logout" class="fa-solid fa-arrow-right-from-bracket box-element-clickable" title="sair"></i>
        </div>
    </div>
</div>
{% endblock %}
