<div id="container-nav-reg" class="grid scroll-area">
    <div id="container-new-reg" class="box grid">
        <div class="header">
            <p class="title">Novo Lançamento</p>
        </div>
        <div class="grid-wrapper-two">
            <div class="inp-box-with-icon">
                <p>Tipo</p>
                <i></i>
                <!-- <input id="inp-new-reg-type" type="text" class="inp"> -->
                 <select id="inp-new-reg-inout" class="inp">
                    <option value="0">Saída</option>
                    <option value="1">Entrada</option>
                 </select>
            </div>
            <div class="inp-box">
                <p>Título</p>
                <input id="inp-new-reg-title" type="text" class="inp">
            </div>
            <div class="inp-box-with-icon">
                <p>Data/Hora</p>
                <i class="fa-solid fa-circle-info box-element-clickable" title="info"></i>
                <input type="datetime" class="inp">
            </div>
            <div class="inp-box-with-icon">
                <p>Recorrência</p>
                <i class="fa-solid fa-circle-info box-element-clickable" title="info"></i>
                <input type="text" class="inp">
            </div>
            <div class="inp-box">
                <p>Valor</p>
                <input id="inp-new-reg-value" type="number" min="0.01" step="0.01" class="inp">
            </div>
            <div class="inp-box">
                <p>Método</p>
                <input type="text" class="inp">
            </div>
            <div class="inp-box">
                <p>Descrição</p>
                <input id="inp-new-reg-description" type="text" class="inp">
            </div>
            <div class="inp-box-with-icon">
                <p>Categorias</p>
                <i class="fa-solid fa-pen box-element-clickable"></i>
                <input type="text" class="inp">
            </div>
        </div>
        <div class="box-btns">
            <input type="button" class="btn" id="btn-new-limpar" value="limpar">
            <input type="button" class="btn" id="btn-new-salvar" value="salvar">
        </div>
    </div>
    <div id="container-details" class="box grid">
        <div class="header">
            <div class="right">
                <p class="title">Detalhamento</p>
            </div>
            <div class="left">
                <i class="fa-solid fa-trash box-element-clickable" title="excluir registro"></i>
            </div>
        </div>
        <div class="grid-wrapper-two">
            <div class="inp-box">
                <p>Tipo</p>
                <input type="text" class="inp">
            </div>
            <div class="inp-box">
                <p>Título</p>
                <input type="text" class="inp">
            </div>
            <div class="inp-box">
                <p>Data/Hora</p>
                <input type="text" class="inp">
            </div>
            <div class="inp-box">
                <p>Valor</p>
                <input type="text" class="inp">
            </div>
            <div class="inp-box">
                <p>status</p>
                <input type="text" class="inp">
            </div>
            <div class="inp-box">
                <p>Método</p>
                <input type="text" class="inp">
            </div>
            <div class="inp-box">
                <p>Descrição</p>
                <input type="text" class="inp">
            </div>
            <div class="inp-box">
                <p>Categorias</p>
                <input type="text" class="inp">
            </div>
        </div>
    </div>
    <div id="container-regs" class="box grid"></div>
</div>