body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container-center {
    /* display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    align-items: center; */
    justify-items: center;
    display: grid;
    row-gap: 15px;
}

#container-center .title {
    font-size: 40pt;
    margin: 0;
}

#container-center .inp, #container-center .btn {
    width: 300px;
    /* text-align: center; */
}

a, span {
    color: var(--color-secondary);
}

a:hover {
    color: var(--color-primary);
}